body {
    padding: 0 8%;
}

.navbar-brand {
    font-display: bold;
    font-size: 140%;
}

.navbar {
    margin-top: 2rem;
    background-color: transparent;
}

nav.navbar .navbar-item {
    padding: .5rem 2rem;
}

.navbar-item {
    font-size: 120%;
    color: black;
}

html {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 2rem;
    background-color: transparent;
}

.logout {
    padding-top: 10rem;
}

form {
    padding-top: 15%;
    text-align: center;
}

input {
    font-size: 105%;
}

input {
    font-size: 105%;
}

#a_head {
    padding-top: 8%;
    text-decoration: underline;
}

.land {
    padding-top: 8%;
}

.f_acc {
    padding-top: 6%;
}

footer {
    position: fixed;
}

.photo-col {
    padding-top: 12%;
}

#navbarBasicExample {
    background-color: transparent;
    box-shadow: none;
}

#photo_form {
    text-align: left;
}

#container {
    margin-bottom: 5%;
}

figcaption {
    height: 82px;
    width: 320px;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    padding: 10px 10px 10px 0;
}

header { 
    width: 320px;
    height: 240px;
}

header div img { 
width: 100%; 
height: auto; 
}
@media screen and (max-width: 400px) {
header div { margin: 0; }
header { padding: 0; }
}

#gallery-container {
    padding-top: 7%;
    padding-bottom: 10%;
}

.comment_input {
    padding: 10px 0;
    margin: 0;
    border: 0;
    text-align: left;
    display: none;
}

.comment_box {
    margin-right: 12px;
    width: 220px;
}

.pic {
    position: relative;
}

.comment-button {
    position: absolute;
    height: 70px;
    width: 70px;
    display: none;
    top: 117px;
    left: 25px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.delete-image {
    position: absolute;
    height: 70px;
    width: 70px;
    display: none;
    top: 125px;
    right: 25px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.like-button {
    position: absolute;
    height: 70px;
    width: 70px;
    display: none;
    top: 125px;
    left: 120px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.image-username {
    position: absolute;
    display: none;
    top: 35px;
    left: 100px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 250%;
}

.image-likes {
    position: absolute;
    display: none;
    bottom: 15px;
    left: 105px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 150%;
    color: black;
}

div.image_div:hover img {
    opacity: 0.5;
}

div.image_div:hover .comment-button {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .delete-image {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .like-button {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .image-username {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .image-likes {
    display: block;
    opacity: 0.72;
}

.delete-form {
    display: none;
}

.like-form {
    display: none;
}

.pagination {
    position: absolute;
    left: 50%;
    bottom: 100px;
}

