html {
    height: 100%;
    background: url("../img/roman.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: white;
}

body {
    height: 100%;
}

.navbar-brand {
    font-display: bold;
    font-size: 140%;
}

.navbar {
    background-color: transparent;
    padding-top: 2rem;
}

nav.navbar .navbar-item {
    padding: .5rem 2rem;
}

.navbar-item {
    font-size: 120%;
    color: white;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 2rem;
    background-color: transparent;
}

.footer p {
    color: whitesmoke;
    opacity: 0.82;
}

.logout {
    padding-top: 10rem;
}

form {
    padding-top: 15%;
    text-align: center;
    color: white;
}

input {
    font-size: 105%;
}

input {
    font-size: 105%;
}

#a_head {
    padding-top: 8%;
    text-decoration: underline;
}

.land {
    padding-top: 8%;
}

.f_acc {
    padding-top: 6%;
}

.photo-col {
    padding-top: 12%;
}

#navbarBasicExample {
    background-color: transparent;
    box-shadow: none;
}

#photo_form {
    text-align: left;
    padding-bottom: 48px;    
}

#container {
    margin-bottom: 5%;
}

figcaption {
    height: 82px;
    width: 320px;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    padding: 10px 10px 10px 0;
    color: white;
    margin-bottom: 25px;
    visibility: hidden;
    text-shadow: 1px 1px gray;
}

header { 
    width: 320px;
    height: 240px;
}

header div img { 
width: 100%; 
height: auto; 
}

.comment_input {
    padding: 10px 0;
    margin: 0;
    border: 0;
    text-align: left;
    width: ;
    /*display: none;*/
}

.comment_box {
    margin-right: 12px;
    width: 205px;
}

.pic img {
    position: relative;
    border-radius: 2%;
}

.comment-button {
    position: relative;
    height: 70px;
    width: 70px;
    display: none;
    bottom: 180px;
    left: 12px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.delete-image {
    position: relative;
    height: 70px;
    width: 70px;
    display: none;
    bottom: 242px;
    left: 230px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.like-button {
    position: relative;
    height: 70px;
    width: 70px;
    display: none;
    bottom: 310px;
    left: 120px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 300%;
}

.image-username {
    position: relative;
    display: none;
    bottom: 210px;
    left: 100px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 250%;
}

.image-likes {
    position: relative;
    display: none;
    bottom: 300px;
    left: 105px;
    transform: translateY(-50%);
    padding: 0 5%;
    font-size: 180%;
}

.image_div {
    height: 320px;
}

div.image_div:hover img {
    opacity: 0.5;
}

div.image_div:hover .comment-button {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .delete-image {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .like-button {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .image-username {
    display: block;
    opacity: 0.92;
}

div.image_div:hover .image-likes {
    display: block;
    opacity: 0.99;
}

.delete-form {
    display: none;
}

.like-form {
    display: none;
}

.cell {
    width: 320px;
    margin: auto;
    display: block;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#video {
    text-align: center;
} 

.photo-div {
    width: 320px;
    margin: auto;
}

.other-gallery {
    padding-bottom: 30px;
}

.main-thing {
    color: white;
}

#gallery-container {
    max-width: 1280px;
    padding-top: 7%;
}

.pagination {
    padding-right: 7.5%;
    padding-left: 7.5%;
}

#upload {
    padding-top: 0;
}

#infinite {
    text-align: center;
}

#infinite {
    background-color: transparent;
}

.pag-buttons {
    color: whitesmoke;
    transition: all 0.3s;
}

.pag-buttons:hover {
    color: #363636;
    background-color: whitesmoke;
}


