body {
    padding: 0 8%;
}

.navbar-brand {
    font-display: bold;
    font-size: 140%;
}

.navbar {
    margin-top: 2rem;
    background-color: transparent;
}

nav.navbar .navbar-item {
    padding: .5rem 2rem;
}

.navbar-item {
    font-size: 120%;
    color: black;
}

html {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 2rem;
    background-color: transparent;
}

.logout {
    padding-top: 10rem;
}

form {
    padding-top: 15%;
    text-align: center;
}

#a_head {
    padding-top: 8%;
    text-decoration: underline;
}

.land {
    padding-top: 8%;
}

.f_acc {
    padding-top: 6%;
}

footer {
    position: fixed;
}

.photo-col {
    padding-top: 12%;
}

#navbarBasicExample {
    background-color: transparent;
    box-shadow: none;
}

#photo_form {
    text-align: left;
}

#container {
    margin-bottom: 5%;
}